<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.8/spectre.min.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <style>
            body {
                background: antiquewhite;
            }
        </style>
        <div id="app">
            <h3>Голосование за следующий трек:</h3>
            <div class="container">
                <div class="columns">
                <table class="table column col-12">
                    <thead>
                    <tr>
                        <th>Название трека</th>
                        <th>Голоса</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="track in tracks">
                        <td>{{track.title}}</td>
                        <td>{{track.votes}}</td>
                        <td><button class="btn btn-success" @click="vote(track)">Vote</button></td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        <script>
            function dec2hex (dec) {
                return ('0' + dec.toString(16)).substr(-2)
            }

            // generateId :: Integer -> String
            function generateId (len) {
                var arr = new Uint8Array((len || 40) / 2)
                window.crypto.getRandomValues(arr)
                return Array.from(arr, dec2hex).join('')
            }

            if(!('session' in localStorage)) {
                localStorage['session'] = generateId(20);
            }
            var session = localStorage['session'];
                            session = localStorage['session'];
            var app = new Vue({
                el: '#app',
                data: {
                    tracks: [],
                    intervalId: null
                },
                mounted: function() {
                    var that = this;
                    axios.get('/vote').then(function (response) {
                        // handle success
                        console.log(response);
                        that.tracks = response.data;
                    });
                    this.intervalId = setInterval(function() {

                    axios.get('/vote').then(function (response) {
                        // handle success
                        console.log(response);
                        that.tracks = response.data;
                    });
                    }, 5000);
                },
                beforeDestroy () {

                    clearInterval(this.intervalId);
                },
                methods: {
                    vote: function(track) {
                        var that = this;
                        axios.post('/vote',
                        {'track': track.id, 'session': session}).then(function(response) {
                            that.tracks = response.data;
                        });
                    }
                }
            });
        </script>
    </body>
</html>